/* src/App.css */
.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #282c34;
  color: white;
}

.App-section {
  padding: 20px;
}

.Character {
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
}

.Character h2 {
  margin: 0;
  margin-bottom: 10px;
}

.Character-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Character-section {
  flex: 1;
  margin-right: 20px;
}

.Character-section:last-child {
  margin-right: 0;
}

.Character .AttributesList,
.Character .SkillsList,
.Character .ClassList,
.Character .ClassRequirements {
  margin-bottom: 10px;
}

.SkillsList {
  min-width: 500px;
}

.skill-name, .skill-points, .skill-modifier {
  padding-right: 0.5rem;
}

.skill-modifier {
  padding-left: 0.5rem;
}



.App-sub-section {
  border: 2px solid lightgray;
}

.PartySkillCheck {
  margin: 1rem auto 1rem;
  width: 300px;
  padding: 1rem;
}
